
div.uno,div.dos,div.tres{
	width: 200px;
	height: 150px;
float: right;
}


.madre{
	border:2px solid #C2CACE;
	width: 700;
	height: 150;


}
.clearfix:after{clear: both;}




.uno{
	background-color: #FFFF00
}

.dos{
	background-color: #01A9DB
}

.tres{
	background-color: #FE2E64
}